* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.nav-menu {
  text-align: center;
  background-color: gray;
  padding: 20px;
}

.nav-menu li{
  display: inline;
  margin: 50px;
}

.nav-menu li a {
  color:white;
  text-decoration: none;
}

img {
  width: 60%;
}

footer {
  background-color: gray;
  padding: 20px;
  text-align: center;
}

table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

